{# empty Twig template #}
{% extends "base.html.twig" %}
{% block body %}

    {# <div class="jumbotron jumbotron-fluid">
         <div class="container">
             <h1 class="display-4">MediaStore</h1>
             <p class="lead">ajouter image ici</p>
         </div>
     </div>  #} 
    <div class='background-books'>

        <div class="container" >
            <h1 class="center text-center font-fam-brush" style="min-height: 250px; font-size: 150px;color: #C82829"><i>Rugby Shop</i></h1>
        </div>
    </div>
    {#<div class="separator-test"></div>#}

    <div class="container-fluid" >
        <div class="row">
            <div class="col-sm-3" style="margin-top: 130px;">
                <div class="container border-custom-little font-fam-courrier">
                    <div class='row'>
                        <div>
                            <h4>
                                <a href="{{ path('home') }}" 
                                   class="btn-transparent">
                                    Toutes catégories
                                </a>
                            </h4>
                            {% for cat in categories%}
                                <h4>
                                    <a href="{{ path('home', { 'categorie': cat.getCatLibelle }) }}" 
                                       class="btn-transparent">
                                        {{ cat.getCatLibelle }}
                                    </a>
                                </h4>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-8 offset-1 " style="margin-top: 50px;">
                <div class="container-fluid font-fam-courrier" >

                    <h1 class="title" >{{page}}</h1>
                    <hr>
                    <div class="container-fluid border-custom-little ">
                        <div class="row">
                            {% for produit in produits %}
                                {% if produit.getProStock > 0 %}
                                    <div class="col-sm-4 col-lg-3">
                                        <div class="card text-white mb-2" style="max-width: 15rem;background-color: rgba(0, 0, 0, 0)">
                                            <a href="{{ path('produit', { 'id': produit.getProId }) }}" >
                                                <img class="card-img-top" height="250" style="border-radius: 20px 20px 0% 0% ;" src="{{produit.getProImage}}" alt="Card image cap">
                                                <a/>
                                                <div class="card-body " style="border: 1px; border-style: solid;border-radius: 0% 0% 20px 20px;">
                                                    <p class="card-text">{{produit.getProNom}}</p>
                                                    <a href="{{ path('produit', { 'id': produit.getProId }) }}" class="btn btn-brown-border">Infos</a>
                                                    {% if not is_granted('ROLE_ADMIN') %}
                                                        <a class="btn btn-brown-border" href="{{ path('ajoutPanierFromHome', { 'id': produit.getProId }) }}" >
                                                            <i class="fas fa-shopping-basket"></i></a>
                                                        {% endif %}
                                                </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{#{%block footer %}
    <footer style="margin-top: 100px;">
        <div class="text-center">
            <p>Contact : sara.louafi.66@gmail.com</p>
            <p>Copyright @ 2018</p>
        </div>
    </footer>
{% endblock %}#}