{% extends 'base.html.twig' %}
{% block title %}Sell - {{ controller_name }}{% endblock %}
{% block body %}
<link rel="stylesheet" type="text/css" href="../public{{ asset('assets/plugins/flexslider/flexslider.css') }}">

<!-- Product -->
	<br>
	<br>

	<div class="container bgwhite p-t-35 p-b-80">
		<div class="flex-w flex-sb">
			<div class="w-size13 p-t-30 respon5">
				<div class="wrap-slick3 flex-sb flex-w">
					<div class="wrap-slick3-dots"></div>

					<div class="slick3">
						<div class="item-slick3" data-thumb="{{ asset(vich_uploader_asset(article.imagePrincipale, 'imageFile')) }}">
							<div class="wrap-pic-w">
								<img src="{{ asset(vich_uploader_asset(article.imagePrincipale, 'imageFile')) }}" alt="{{ article.imagePrincipale.alt }}" width="350" height="350">
							</div>
						</div>

						{% for image in article.images %}
							<div class="item-slick3" data-thumb="{{ asset(vich_uploader_asset(image, 'imageFile')) }} ">
								<div class="wrap-pic-w">
									<img src="{{ asset(vich_uploader_asset(image, 'imageFile')) }}" alt="{{ image.alt }}" >
								</div>
							</div>
						{%  endfor %}
					</div>
				</div>
			</div>

			<div class="w-size14 p-t-30 respon5">
				<h4 class="product-detail-name m-text16 p-b-13">
					{{ article.titre }}
				</h4>

				<span class="m-text17">
					{{ article.prix}} €
				</span>

				<!--  -->
				<div class="p-t-33 p-b-60">
					<div class="flex-m flex-w p-b-10">
						<div class="s-text15 w-size15 t-center">
							Size
						</div>

						<div class="rs2-select2 rs3-select2 bo4 of-hidden ">
							<select class="selection-2" name="size">
								<option>Choose an option</option>
								<option>Size S</option>
								<option>Size M</option>
								<option>Size L</option>
								<option>Size XL</option>
							</select>
						</div>
					</div>
					<div class="flex-r-m flex-w p-t-10">
						<div class="w-size16 flex-m flex-w">
							<div class="flex-w bo5 of-hidden m-r-22 m-t-10 m-b-10">
								<button class="btn-num-product-down color1 flex-c-m size7 bg8 eff2">
									<i class="fs-12 fa fa-minus" aria-hidden="true"></i>
								</button>

								<input class="size8 m-text18 t-center num-product" type="number" name="num-product" value="1">
								<button class="btn-num-product-up color1 flex-c-m size7 bg8 eff2">
									<i class="fs-12 fa fa-plus" aria-hidden="true"></i>
								</button>
							</div>

							{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
								<!-- <button type="button" >Ajouter panier</button> -->
								<div class="ui vertical animated button" id="addPanier" tabindex="0">
									<div class="hidden content">Shop</div>
									<div class="visible content">
										<i class="shop icon"></i>
									</div>
								</div>
							{% else %}
								<a href="{{ path('fos_user_security_login') }}">
									<div class="ui vertical animated button" tabindex="0">
										<div class="hidden content">Shop</div>
										<div class="visible content">
											<i class="shop icon"></i>
										</div>
									</div>
								</a>
							{% endif %}
						</div>
					</div>
				</div>
				<!--  -->
				<div class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
					<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
						Description
						<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
						<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
					</h5>

					<div class="dropdown-content dis-none p-t-15 p-b-23" style="display: none;">
						<p class="s-text8">
						{{ article.description }}
						</p>
					</div>
				</div>

			</div>
		</div>
		</div>


{% endblock %}
{% block javascripts %}
<script>
	$(document).ready( function() {

        //FUNCTION AJAX
        function reqAjax(){
            $.ajax({
                async: true,
                type: 'POST',
                url: "{{ path('article', {'id' : app.request.get('_route_params')['id']}) }}",
                success: function (data) {
                    if(data['response'] == "1"){
                        $('#addPanier .content .icon').removeClass('shop').addClass('check circle');
                        $('#addPanier .hidden.content').html('');
                        $('#addPanier').removeClass('loading vertical animated').removeAttr("id");
                        $(".cart-notif").html(data['newCountPanier'])
                        //alert
                        $.confirm({
                            icon: 'fa fa-question-circle-o',
                            theme: 'supervan',
                            title: 'Article au panier !',
                            closeIcon: false,
                            content: 'Cet article a été correctement ajouté à votre panier',
                            animation: 'scale',
                            type: 'success',
                            buttons: {
                              Continuer: function () {
                                return;
                              },
                              Commander: function () {
                                window.location.replace("{{ path('panier') }}");
                              }
                            }
                        });
                        return 1;
                    } else {
                        $('#addPanier').removeClass('loading');
                        alert('Il y a eu un problème ! -> '+data);
                        return 0;
                    }
                },
                complete : function(){
                    // do
                }
            });
        }

        $('#addPanier').click(function(){
                $(this).addClass('loading');
                reqAjax();
        });
    });
</script>
{% endblock %}